.bannerIndexWrap {
    width: 425px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.bannerIndexWrap li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e8e8e8;
    margin: 12px 6px;
    cursor: pointer;
}

.bannerIndexWrap li.active {
    background-color: var(--color-light);
}
