.CardWrap {
    position: relative;
}

.contentImg {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
}
.contentDescription {
    width: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
}

.contentDescription p,
.views {
    font-family: var(--font-nanum-bold);
}

.contentDescription > p {
    width: 40px;
    text-align: center;
    font-size: 1rem;
}

.contentDescription .contentDomain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contentDescription .contentDomain p {
    padding: 3px 0;
}

.contentDescription .contentDomain p:nth-of-type(2),
.views {
    color: #9f9f9f;
    font-size: 0.8rem;
}

.views {
    position: absolute;
    bottom: 12px;
    right: 12px;
}
