.cardWrap {
    position: relative;
}
.imgWrap {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.contentImg {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.contentDescription {
    width: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
}

.contentDescription p,
.views {
    font-family: var(--font-nanum-bold);
}

.contentDescription > p {
    width: 40px;
    text-align: center;
    font-size: 1rem;
}

.contentDescription .contentDomain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0 0 5px;
}

.contentDescription .contentDomain p {
    padding: 3px 0;
}

.contentDescription .contentDomain p:nth-of-type(1) {
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contentDescription .contentDomain p:nth-of-type(2),
.views {
    font-size: 0.8rem;
}

.contentDescription .contentDomain p:nth-of-type(2) {
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.views {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.views > img {
    width: 15px;
    height: 15px;
}
