* {
    margin: 0;
    padding: 0;
    ::-webkit-scrollbar {
        display: none;
    }
    font-family: "nanum";
}

:root {
    --font-nanum: "nanum";
    --font-nanum-blod: "nanum-bold";
    --font-nanum-extrablod: "nanum-extrabold";
    --color-main: rgb(158, 100, 180);
    --color-light: rgb(255, 97, 210);
}

@font-face {
    font-family: "nanum-bold";
    src: url("./assets/fonts/NanumGothic-Bold.ttf");
}

@font-face {
    font-family: "nanum-extrabold";
    src: url("./assets/fonts/NanumGothic-ExtraBold.ttf");
}

@font-face {
    font-family: "nanum";
    src: url("./assets/fonts/NanumGothic-Regular.ttf");
}
